.centered {
	text-align: center;
}

.imgcenter {
	display:               inline-block;
	width:                 815px;
	height:                615px;
	margin:                5px 5px 5px 5px;
	padding:               10px 10px 10px 10px;
	border:                solid 1px #BDBED9;
	background-color:    #F5F5F8;
	box-shadow:            1px 1px 6px #888888;
	-webkit-box-shadow:    1px 1px 6px #888888;
	-moz-box-shadow:       1px 1px 6px #888888;
	border-radius:         10px;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
}

.slideshow-image {
	max-width:  800px;
	max-height: 600px;
}

button#play-button {
	height: 150px;
	width: 150px;
	background-image:  url("https://www.freeiconspng.com/uploads/video-play-icon-21.png");
	background-size: 150px 150px;
	background-color: transparent;
}

button#pause-button {
	height: 150px;
	width: 150px;
	background-image:  url("https://www.freeiconspng.com/uploads/pause-icon-5.png");
	background-size: 150px 150px;
	background-color: transparent;
}
